<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Производственная команда</title>
</head>
<body>

<p th:text="${'Производственная команда №:  ' + team.getIdentifier()}"> </p>
<p th:text="${'Лидер смены:                 '+ team.getName_leader()}"> </p>
<hr>
<h4> Состав команды</h4>
<div th:each="employee_th : ${empl_list_team}">

    <a th:text="${employee_th.getFunction() +
       ', ' + employee_th.getEmployee_name() +
       ', ' + employee_th.getBirth_year()}"> //// В это место вставляются данные слева </a>
    <br/>
</div>
<P th:text="${empl_list_team} != null ? '' : 'В команде пока нет сотрудников'"></P>

<hr>
<a th:href="@{/teams/{team_id}/edit(team_id=${team.getTeam_id()})}">Изменение данных</a>
<br>
<form th:method="DELETE" th:action="@{/teams/{team_id}(team_id=${team.getTeam_id()})}">
    <input type="submit" value="Удалить!">
</form>

</body>
</html>