<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Производственная команда</title>
</head>
<body>

<p th:text="${team.getTeam_id()}"> </p>
<p th:text="${'Производственная команда №:  ' + team.getIdentifier()}"> </p>
<p th:text="${'Лидер смены:                 '+ team.getName_leader()}"> </p>

<br>

<a th:href="@{/teams/{team_id}/edit(team_id=${team.getTeam_id()})}">Изменение данных</a>

<br>
<hr>

<form th:method="DELETE" th:action="@{/teams/{team_id}(team_id=${team.getTeam_id()})}">
    <input type="submit" value="Удалить!">
</form>

</body>
</html>