<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/teams}" th:object="${team_new}">

    <label for="name">Введите Имя и Фамилию лидера команды: </label>
    <input type="text" th:field="*{name_leader}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name_leader')}" th:errors="*{name_leader}">
        здесь будет сообщение об ошибке из Person.java</div>
    <br>
    <br>
    <label for="identifier">Введите идентификатор произв. команды: </label>
    <input type="text" th:field="*{identifier}" id="identifier"/>
    <div style="color: red" th:if="${#fields.hasErrors('identifier')}" th:errors="*{identifier}"></div>
    <p>Идентификатор состоит из номера цеха (например: 100) + номер команды</p>
    <br>
    <hr>
    <input type="submit" value="Cоздать новую производственную команду"/>
</form>

</body>
</html>